In [1]:
from datasets import load_from_disk, disable_caching, Dataset
import pandas as pd
import os
from pathlib import Path

In [2]:
disable_caching()
cwd = os.getcwd()
ds = load_from_disk(Path(cwd, "../../datasets/ManualDataset").resolve())
df_train = ds["train"].to_pandas()
df_valid = ds["valid"].to_pandas()
df_test = ds["test"].to_pandas()
df_total = pd.concat([df_train, df_valid, df_test])

In [3]:
df_total

,original_text,masked_text,label,NE_FROM,NE_TO,NE_OTHER,source,__index_level_0__
0,Officials of the Naval Air Systems Command at ...,Officials of the __NE_FROM__ at Patuxent River...,3,Naval Air Systems Command,Cobham plc Advanced Electronic Solutions,[],train,2
1,UTC Aerospace Systems has been selected by The...,__NE_FROM__ has been selected by The __NE_OTHE...,2,UTC Aerospace Systems,Boeing,[Boeing Co.],train,3
2,UTC Aerospace Systems has been selected by The...,__NE_OTHER__ has been selected by The __NE_FRO...,0,Boeing Co.,Boeing,[UTC Aerospace Systems],train,4
3,UTC Aerospace Systems has been selected by The...,__NE_FROM__ has been selected by The __NE_TO__...,2,UTC Aerospace Systems,Boeing Co.,[Boeing],train,5
4,Tenneco Automotive said Tuesday one of its uni...,__NE_FROM__ said Tuesday one of its units had ...,4,Tenneco Automotive,Minuzzi,[],train,6
...,...,...,...,...,...,...,...,...
740,Lockheed Martin received a $769.5 million modi...,__NE_OTHER__ received a $769.5 million modific...,0,Navy,Defense,"[Lockheed Martin, USAF, USMC]",test,1257
741,Lockheed Martin received a $769.5 million modi...,__NE_OTHER__ received a $769.5 million modific...,0,USAF,Defense,"[Lockheed Martin, USMC, Navy]",test,1258
742,"In April, HAECO Cabin Solutions signed a contr...","In April, __NE_FROM__ signed a contract with _...",3,HAECO Cabin Solutions,Airbus,[],test,1261
743,HITCO to Supply Composite Components for Boeing,__NE_FROM__ to Supply Composite Components for...,2,HITCO,Boeing,[],test,1262
744,Aerolineas Argentinas received on 26 January t...,__NE_FROM__ received on 26 January the third o...,1,Aerolineas Argentinas,Boeing,[],test,1263

In [4]:
df_train = df_train.drop(columns="__index_level_0__")
unique_texts = df_train['original_text'].unique()
sampled_texts = pd.Series(unique_texts).sample(n=min(100, len(unique_texts)), random_state=42)
result_df = df_train[df_train['original_text'].isin(sampled_texts)]

In [5]:
result_df

,original_text,masked_text,label,NE_FROM,NE_TO,NE_OTHER,source
46,Boeing has rolled out the first Rolls-Royce Tr...,__NE_FROM__ has rolled out the first Rolls-Roy...,2,Boeing,Singapore Airlines,[],train
69,Subaru Corp. said Monday it has been using Kob...,__NE_FROM__ said Monday it has been using __NE...,1,Subaru Corp.,Kobe Steel Ltd.,[],train
70,"Boeing, Spirit Aerosystems Reach Long-Term Sup...","__NE_FROM__, __NE_TO__ Reach Long-Term Supplie...",3,Boeing,Spirit Aerosystems,[],train
80,"Under the agreement, Bodycote will provide the...","Under the agreement, __NE_FROM__ will provide ...",2,Bodycote,Airbus,[Boeing],train
81,"Under the agreement, Bodycote will provide the...","Under the agreement, __NE_OTHER__ will provide...",0,Boeing,Airbus,[Bodycote],train
...,...,...,...,...,...,...,...
2370,SSWL's Chennai plant will supply approximately...,__NE_FROM__'s Chennai plant will supply approx...,2,SSWL,BMW,[],train
2371,Adient and Boeing have announced the formation...,Adient and __NE_FROM__ have announced the form...,4,Boeing,Adient Aerospace,[],train
2443,"In the coming two years, GKN Aerospace a ""glob...","In the coming two years, __NE_FROM__ a ""global...",2,GKN Aerospace,Boeing,[],train
2461,Cox Machine wins contract extension with Spiri...,__NE_FROM__ wins contract extension with __NE_...,2,Cox Machine,Spirit AeroSystems,[],train
2511,Greece's largest carrier Aegean Airlines picke...,Greece's largest carrier __NE_FROM__ picked __...,1,Aegean Airlines,Airbus,[],train

In [7]:
Dataset.from_pandas(result_df).save_to_disk(str(Path(cwd, "../../datasets/ManualReducedDataset")))

Saving the dataset (0/1 shards):   0%|          | 0/181 [00:00<?, ? examples/s]